<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
 
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
	<script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
</head>
<body>
<div>
	<h2 >Spring Boot Crud System -Employee Registation</h2>
	<tr>
		<div align = "left" >		   
		     <h3><a  th:href="@{'/new'}">Add new</a></h3>     
	    </div>
	
	</tr>
	<tr>
	
	<div class="col-sm-5" align = "center">
                 <div class="panel-body" align = "center" >
                 <table class="table">
  <thead class="thead-dark">
    <tr>
      		<th>EmployeeID</th>
            <th>EmployeeName</th>
        <!-- 
            <th>Address1</th>
            <th>State1</th>
            <th>City1</th>
            <th>PinCode1</th>
            <th>Address2</th>
            <th>State2</th>
            <th>City2</th>
            <th>PinCode2</th>
        -->
            <th>Edit</th>
            <th>Delete</th>
   	</tr>
  </thead>
  <tbody>
      <tr  th:each="employee : ${listemployee }">
		<td th:text="${employee.id}">EmployeeID</td>
		<td th:text="${employee.name}">EmployeeName</td>
	<!-- 	
   
		 <td th:text="${employee.address1l1}">Address1</td>
		<td th:text="${employee.state1}">State</td>
		<td th:text="${employee.city1}">City</td>
		<td th:text="${employee.pin1}">Pin Code</td>
		<td th:text="${employee.address2l1}">Address1</td>
		<td th:text="${employee.state2}">State</td>
		<td th:text="${employee.city2}">City</td>
		<td th:text="${employee.pin2}">Address2</td>
	 -->	 				
		<td>
			<a th:href="@{'/edit/' + ${employee.id}}">Edit</a>
		</td>							    
		<td>
			<a th:href="@{'/delete/' + ${employee.id}}">Delete</a>
		</td>		    
		</tr> 
   
  </tbody>
</table>
                    
                 </div>
 
            </div> 
 
	</tr>
 
	</tbody>
	</table>
	<div>
</body>
</html>